<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="IRDOHMIS" connectionString="Data Source=DESKTOP-510NGH8;Initial Catalog=Dreams;Persist Security Info=True;User ID=sa;Password=12345"
      providerName="System.Data.SqlClient" />
    <add name="IRDOHMIS_mmm" connectionString="server=KNADMLW13636\R2;database=Dreams;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IRDOHMIS_Sever" connectionString="server=SEVER-PC;database=IRDOHMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RuguteConnection" connectionString="Data Source=DESKTOP-510NGH8;Initial Catalog=Dreams;Persist Security Info=True;User ID=sa;Password=12345"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <!--<authentication mode="Forms">
     <forms name=".ASPXAUTH" defaultUrl="~/select.aspx" loginUrl="~/Login.aspx" protection="All" slidingExpiration="true" timeout="2880"></forms>
   </authentication>


    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>-->
    <pages maintainScrollPositionOnPostBack="true" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB"/>

    <authentication mode="Forms">
      <forms defaultUrl="~/Registration/Registration.aspx" slidingExpiration="true" timeout="20" loginUrl="~/Admin/Default.aspx" />
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    
    <!--<pages controlRenderingCompatibilityVersion="4.0"/>-->
  </system.web>
</configuration>